body, html {
	height:100%;
}
.container {
	width:100%;
	height:100%;
	margin-top:50px;
	background-color:#4BAAB2;

}

.header-container {
	top:0;
	left:0;
	overflow:hidden;
	margin:0 auto;	
	width:70%;
	max-width:70em;
}

footer {
	background-color:#4BAAB2;
 	position:relative;
 	height:2em;
 	bottom:0;
}
.footer-text{
	padding-top:0.5em;
	font-family:"Lucida Grande";
 	font-size:0.75em;
 	text-align:center;
 	color:#333;

}

header {
	position:fixed;
	top:0;
	left:0;
	margin:0 auto;
	z-index:9999;	
	background-color:#4BAAB2;
	width:100%;


}
#nav-home {
	background:transparent url("../images/home.svg") no-repeat;
	width:50px;
	height:50px;
	margin:0;
	text-indent:-9999em;
}

#github {
	/*background:transparent url("../images/github-cat.svg") no-repeat;*/
	background-image:url("../images/github-cat.svg");
	width:50px;
	height:50px;
	margin:0;
	text-indent:-9999em;
}
.logo {
	width:50px;
	height:50px;
	margin:0;
	color:yellow;
	border-radius:15px;
	background-color:#333;
}
#plus {
	font-size:0.4em;
	text-align:left;
	vertical-align:top;
}
#google {
	text-align:right;
}

nav {
	float:right;
	height:50px;
}

nav li {
	margin:0 0 0 10px;
	padding:0;
	display:inline-block;
	line-height:50px;
}
nav a {
	color:#333;
	font-family:"Lucida Grande";
	font-size:1em;
	text-decoration: none;
	padding:0;
	margin:0 auto;
	display:inline-block;
}
nav ul {
	margin:0 auto;
	list-style:none;
}

#contact li {
	margin:0 0 0 10px;
	padding:0;
	display:inline-block;
	line-height:50px;
}
#contact a {
	color:#4BAAB2;
	font-family:"Lucida Grande";
	font-size:2.2em;
	text-align:center;
	text-decoration: none;
	padding:0;
	margin:0 auto;
	display:inline-block;
}
#contact ul {
	margin: 0 auto;
	list-style: none;
	width:25%;
	padding:2em 0;

}
section a {
	text-decoration: none;
	font-family:"Lucida Grande";
}

.error {
	bottom:0;
	top:50px;
	right:0;
	left:0;
	position:absolute;
	text-align:center;
	font-size:1.5em;
	font-family:"Lucida Grande";
	color:#fff;
	font-family:"Lucida Grande";
	font-size:1.2em;
}
section {
	padding:2em 0;
	max-width:70em;
	width:70%;
	margin:0 auto;

}

section ol p {
	text-align:justify ;
	font-family:"Georgia";
	margin:0 auto;
	font-size:0.9em;
	color:#fff;
	font-style:italic;


}

section a, li {
	color:#9EF7FF;
}

.separator {
	margin: 0 auto;
	max-width:70em;
	width:70%;
	background-color:#333;
	height:1px;
}

h1 {
	font-family:"Lucida Grande";
	color:#333;
	float:left;
	font-size:1.9em;
	margin:auto;
	display:inline-block;
	padding: auto;
	line-height:50px;

}

h2 {
	font-family:"Lucida Grande";
	color:#F7D74B;
	font-size:1.8em;
	text-align:center;
	margin:0 auto;
}

section ol li:nth-child(even) {
	/*color:#fff;*/

}

section:nth-child(odd) {
	/*color:#363635;*/

}



