.container {
	position: relative;
	margin-top: 90px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #f6f6f6;
	height: 90px;
}
h1 {
	font-family: "Roboto Condensed";
	font-size: 3em;
	color: #4a4a4a;
	letter-spacing: -1px;
	line-height: 0.6;
}

.inner-header {
	width:70%;
	max-width: 70em;
	margin: 0 auto;
}

.main section:nth-child(even) {
	color: #8CC9D9;
}
.main section:nth-child(odd) {
	color: white;
	background-color: #8CC9D9;
}
.main p {
	margin: 0 auto;
	width: 70%;
	max-width: 70em;
	padding: 1em 0;
	font-family: "Roboto Condensed";
	font-size: 2em;
	text-align: justify;
}

